.game-board {
  display: flex;
  flex-direction: column;
  // padding: 0vh 4vh;

  .game-time,
  .progress-quit {
    display: flex;
    margin: auto;

    .game-info {
      &.hide {
        display: none;
      }
      &.show {
        display: block;
      }
    }
    .pause-resume {
      // padding: 29px 5px;
      &.hide {
        visibility: hidden;
      }
      &.show {
        visibility: visible;
      }
      // position: absolute;
    }
  }

  .timer,
  .board,
  .game-progress {
    background: transparent;
  }

  .board {
    display: flex;
    align-items: center;
    width: 92vw;
    height: 286px;
    margin: auto;
    flex-wrap: wrap;
    perspective: 1000px;

    justify-content: center;

    &.ended,
    &.disabled {
      opacity: 0.6;
    }
  }
}

@media only screen and (min-width: 768px) {
  .game-board {
    flex-direction: row;

    .game-time,
    .progress-quit {
      flex-direction: column;

      .game-info {
        &.show {
          width: 16vw;
        }
      }
    }
    .board {
      width: 340px;
      height: 340px;
      // width: 48vw;
      // margin: 3vh auto;
    }
  }
}
