.game-board {
  display: flex;
  flex-direction: column;
  // padding: 0vh 4vh;

  .game-time {
    display: flex;

    .pause-resume {
      padding: 29px 5px;
      // position: absolute;
    }
  }

  .timer,
  .board,
  .game-progress {
    background: transparent;
  }

  .board {
    //easy-phone
    display: flex;
    // width: 100%; //84vw;
    // height: 340px;
    width: 92vw; //303px;
    height: 286px;

    margin: auto;
    flex-wrap: wrap;
    perspective: 1000px;

    &.ended,
    &.disabled {
      opacity: 0.6;
    }
  }
}

@media only screen and (min-width: 768px) {
  .game-board {
    flex-direction: row;
    .board {
      width: 340px;
      height: 340px;
      // margin: 3vh auto;
    }
  }
}
