.card-component {
  width: calc(25% - 12px);
  height: calc(25% - 10px);
  margin: 5px;
  display: flex;
  position: relative;
  transform-style: preserve-3d;
  border: 1px solid;
  transition: transform 0.5s;

  &.flipped {
    transform: rotateY(180deg);
  }
  .card-front,
  .card-back {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  .card-front {
    transform: rotateY(180deg);
  }
}

@media only screen and (max-width: 768px) {
}
