.card-component {
  // height: calc(25% - 10px);
  margin: 5px;
  display: flex;
  position: relative;
  transform-style: preserve-3d;
  // border: 1px solid;
  transition: transform 0.3s;
  cursor: pointer;

  &.small {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
  }
  &.medium {
    width: calc(20% - 10px);
    height: calc(20% - 10px);
  }
  &.big {
    width: calc(16% - 10px);
    height: calc(16% - 10px);
  }
  &:hover {
    transform: scale(0.9);
  }

  &.flipped {
    transform: rotateY(180deg);
    cursor: default;

    // &.solved {
    //   animation: dance 1s linear 500ms;
    // }
  }
  .card-front,
  .card-back {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  .card-front {
    transform: rotateY(180deg);
  }
}

@keyframes dance {
  0%,
  100% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(-30deg);
  }
  75% {
    transform: rotateY(30deg);
  }
}
@media only screen and (min-width: 768px) {
}
