.tracker {
  position: relative;
  height: 100px;
  width: 100px;

  /* Removes SVG styling that would hide the time label */
  .tracker-circle {
    fill: none;
    stroke: none;
  }

  /* The SVG path that displays the tracker's progress */
  .tracker-path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }

  .tracker-label {
    position: absolute;
    top: 27px;
    left: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
  }

  .tracker-path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;

    transform: rotate(90deg);
    transform-origin: center;

    /* One second aligns with the speed of the countdown tracker */
    transition: 1s linear all;
    stroke: currentColor;
  }

  .tracker-svg {
    /* Flips the svg and makes the animation to move left-to-right */
    transform: scaleX(-1);
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .tracker {
    margin: 1vh 3vh;
  }
}
