.game-results {
  width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #source-link {
    bottom: 0;
    position: absolute;
    font-size: 0.6rem;
    align-self: center;

    a {
      text-decoration: none;
      color: #b85f7c;

      &:hover {
        color: #d5c4ca;
      }
    }
  }
}
